.bet2
{
    width: 800px;
    margin-left: 200px;
    margin-right: 200px;
}
.bet3
{
    outline: solid;
    outline-width:2px;
    margin-left: 20%;
    margin-right: 20%;
    border-radius: 1.7%;
    outline-offset: 10px;
}
.bet4
{
    outline: solid;
    outline-width:2px;
    margin-left: 20%;
    margin-right: 20%;
    border-radius: 1.7%;
    outline-offset: 10px;
}
.bet5
{
    outline: solid;
    outline-width:2px;
    margin-left: 20%;
    margin-right: 20%;
    border-radius: 1.7%;
    outline-offset: 10px;
}
.bet6
{
    outline: solid;
    outline-width:2px;
    margin-left: 20%;
    margin-right: 20%;
    border-radius: 1.7%;
    outline-offset: 10px;
}
.bet7
{
    outline: solid;
    outline-width:2px;
    margin-left: 20%;
    margin-right: 20%;
    border-radius: 1.7%;
    outline-offset: 10px;
}
.bet8
{
    outline: solid;
    outline-width:2px;
    margin-left: 20%;
    margin-right: 20%;
    border-radius: 1.7%;
    outline-offset: 10px;
}
.bet9
{
    outline: solid;
    outline-width:2px;
    margin-left: 20%;
    margin-right: 20%;
    border-radius: 1.7%;
    outline-offset: 10px;
}
.bet10
{
    outline: solid;
    outline-width:2px;
    margin-left: 20%;
    margin-right: 20%;
    border-radius: 1.7%;
    outline-offset: 10px;
}
.bet11
{
    outline: solid;
    outline-width:2px;
    margin-left: 20%;
    margin-right: 20%;
    border-radius: 1.7%;
    outline-offset: 10px;
}
.bet13
{
    outline: solid;
    outline-width:2px;
    margin-left: 20%;
    margin-right: 20%;
    border-radius: 1.7%;
    outline-offset: 10px;
}
.bet1
{
    background-color:aliceblue;
}
.bet14
{
    outline: solid;
    outline-width:2px;
    margin-left: 20%;
    margin-right: 20%;
    border-radius: 1.7%;
    outline-offset: 10px;
}
.set1
{
    border: 2px solid black;
    margin-left: 20%;
    margin-right: 20%;
    border-radius: 1.7%;
    outline-offset: 10px;
}
.bet15
{
    outline: solid;
    outline-width:2px;
    margin-left: 20%;
    margin-right: 20%;
    border-radius: 1.7%;
    outline-offset: 10px;
}
.bet16
{
    outline: solid;
    outline-width:2px;
    margin-left: 20%;
    margin-right: 20%;
    border-radius: 1.7%;
    outline-offset: 10px;
}
.set2
{
    outline: solid;
    outline-width:2px;
    margin-left: 20%;
    margin-right: 20%;
    border-radius: 1.7%;
    outline-offset: 10px;
}
.set3
{
    outline: solid;
    outline-width:2px;
    margin-left: 20%;
    margin-right: 20%;
    border-radius: 1.7%;
    outline-offset: 10px;   
}